<%- include('./partial/head.ejs') %>
  <body>

    <%- include('./partial/nav.ejs') %>
<%- include('./partial/hero.ejs') %>
<%- include('./partial/cards.ejs') %>
<%- include('./partial/footer.ejs') %>
    <script src="/flowbite/dist/flowbite.min.js"></script>

  </body>

</html>
